<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('layout/head'); -%>
</head>

<body>
    <h1 class="visually-hidden">Welcome to Study Buddy</h1>
    <h2>Discover</h2>
    <p class="results"> <%= results %> Resultaten</p>
    <button class="filterBtn">Filter</button>

    <ul>
        <% students.forEach(function(students) { %>
        <li class="student">
            <h1><%= students.name %></h1>
            <p><%= students.studie %></p>
            <img src="<%= students.image %>">
            <div class="short-info">
                <p><%= students.age %></p>
                <p><%= students.year %></p>
                <p><%= students.preference %></p>
            </div>
        </li>
    </ul>
    <% }); %>

    <!-- <section class="student"> 
        <h1>Naomi van Dijk</h1>
        <p>Commerciële Economie</p>
        <img src="images/girl.svg">
        <div class="short-info">
            <p>23</p>
            <p>Jaar 3</p>
            <p>Online</p>
        </div>
    </section>

    <section class="student">
        <h1>Thomas Jansen</h1>
        <p>Communicatie</p>
        <img src="images/girl.svg">
        <div class="short-info">
            <p>19</p>
            <p>Jaar 1</p>
            <p>Online</p>
        </div>
    </section> -->

    <section class="filterForm">
        <h2>Filter</h2>
        <form method="POST" action="/">
            <label for="studie">Studie</label>
            <select id="studie" name="studie">
                <option>CMD</option>
                <option>Commerciele economie</option>
                <option>Communicatie</option>
            </select>
            <!--<label for="skills">Skills</label>
            <select id="skills" name="skills">
                <option>Front-end</option>
                <option>Photoshop</option>
                <option>iets</option>
            </select> -->
            <label for="age">Leeftijd</label>
            <input id="age" type="range" name="age" value="0" min="16" max="30"
                oninput="this.nextElementSibling.value = this.value">
            <output>0</output>
            <label for="year">Jaarlaag</label>
            <select id="year" name="year">
                <option value=1>Jaar 1</option>
                <option value=2>Jaar 2</option>
                <option value=3>Jaar 3</option>
                <option value=4>Jaar 4</option>
            </select>
            <input type="submit" id="sendBtn">
        </form>
    </section>
    <script src="/script.js"></script>
</body>

</html>