<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title> <%= title %> </title>
    <!-- <%- include ('layout/head'); -%> -->
</head>

<body>
    <h1 class="visually-hidden">Welcome to Study Buddy</h1>
    <h2>Discover</h2>
    <p class="results"> <%= results %> Resultaten</p>
    <button class="resetBtn" onclick="window.location.href=window.location.href">Reset filter</button>
    <button class="filterBtn">Filter</button>
    <!-- Bron: https://stackoverflow.com/questions/29884654/button-that-refreshes-the-page-on-click -->

    <ul>
        <% students.forEach(function(students) { %>
        <li class="student">
            <h1><%= students.name %></h1>
            <p><%= students.studie %></p>
            <label class="container">
                <input name="likes" type="checkbox" class="like-btn">
            </label>
            <img src="<%= students.image %>">
            <div class="short-info">
                <p><%= students.age %></p>
                <p><%= students.year %></p>
                <p><%= students.preference %></p>
            </div>
        </li>
    </ul>
    <% }); %>

    <section class="filterForm">
        <h2>Filter</h2>
        <form method="POST" action="/">
            <label for="studie">Studie</label>
            <select id="studie" name="studie">
                <option>all</option>
                <option>CMD</option>
                <option>Docent</option>
                <option>Verpleegkunde</option>
                <option>Bouwkunde</option>
                <option>Communicatie</option>
                <option>Business Studies</option>
            </select>
            <label for="age">Leeftijd</label>
            <input id="age" type="range" name="age" value="16" min="16" max="30"
                oninput="this.nextElementSibling.value = this.value">
            <output>16</output>
            <label for="year">Jaarlaag</label>
            <select id="year" name="year">
                <option>all</option>
                <option>Jaar 1</option>
                <option>Jaar 2</option>
                <option>Jaar 3</option>
                <option>Jaar 4</option>
            </select>
            <input type="submit" id="sendBtn">
        </form>
    </section>

    <%- include ('layout/nav'); -%>

    <script src="/script.js"></script>
</body>

</html>