<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('layout/head'); -%>
</head>

<body>
    <h2><%- title %> </h2>

    <p class="results"> <%= results %> people liked you</p>

    <ul>
        <% students.forEach(function(students) { %>
        <li class="student">
            <h1><%= students.name %></h1>
            <p><%= students.studie %></p>
            <label class="container">
                <input name="likes" type="checkbox" class="like-btn">
            </label>
            <img src="<%= students.image %>">
            <div class="short-info">
                <p><%= students.age %></p>
                <p><%= students.year %></p>
                <p><%= students.preference %></p>
            </div>
        </li>
    </ul>
    <% }); %>

    <%- include ('layout/nav'); -%>
    <script src="/script.js"></script>
</body>

</html>